@model IEnumerable<MVCFirebase.Models.AppointmentPatientViewModel>

@foreach (var item in Model)
{
    foreach (var appointment in item.Appointments)
    {
        var popoverId = "popover-" + appointment.patient_id;
        var popoverToggleId = "popoverToggle-" + appointment.patient_id;
<div class="col-lg-12 col-md-12 col-sm-12 col-12 p-0">
    <div class="card ">
        <div class="card-body my card-detail">
            <div class="myboxview">
                <div class="myboxleft">
                    <span class="boxCount">@Html.DisplayFor(modelItem => appointment.token)</span>
                </div>
                <div class="d-flex w-100 flex-column boxitemView modal-link" data-toggle="modal" data-target=".bootstrapmodal" data-patient-id="@appointment.patient" >
                    <div class="myboxmid">
                        <span class="card-body-item myboxrightName">
                            <strong>@Html.DisplayFor(modelItem => appointment.patient_name)</strong>
                        </span>
                    </div>
                    <div class="myboxmid">
                        <span class="card-body-item">
                            @Html.DisplayFor(modelItem => appointment.patient_gender)
                        </span>
                        <span class="card-body-item">
                            @Html.DisplayFor(modelItem => appointment.patient_age)
                        </span>
                        <span class="card-body-item">
                            @Html.DisplayFor(modelItem => appointment.patient_mobile)
                        </span>
                    </div>
                    <div class="myboxmid">
                        <span class="card-body-item">
                            UID: @Html.DisplayFor(modelItem => appointment.patient_id)
                        </span>
                        <span class="card-body-item">
                            @appointment.raisedDate.ToString("hh:mm tt")
                        </span>
                        @*<span class="card-body-item">
                            @Html.DisplayFor(modelItem => appointment.id)
                        </span>*@
                    </div>
                </div>
                <div class="myboxright">
                    <div class="status-container">
                        @*<span class="status">@appointment.status</span>
                        <span class="status">@appointment.statusChemist</span>
                        <span class="status">@appointment.statusCashier</span>*@
                        @if (appointment.status == "Completed")
                        {
                            <span class="status"><img src="~/Images/doctor.png" class="img-rounded statusContainerimg ms-2 me-2" /> </span>
                        }
                        else
                        {
                            <span class="statusnone"></span>
                        }
                        @if (appointment.statusChemist == "Completed")
                        {
                            <span class="status"><img src="~/Images/chemist.png" class="img-rounded statusContainerimg ms-2 me-2" /></span>
                        }
                        else
                        {
                            <span class="statusnone"></span>
                        }
                        @if (appointment.statusCashier == "Completed")
                        {
                            <span class="status"><img src="~/Images/cashier.png" class="img-rounded statusContainerimg ms-2 me-2" /></span>
                        }
                        else
                        {
                            <span class="statusnone"></span>
                        }

                        
                    </div>
                    <!-- Popover Toggle Button -->
                    <span id="@popoverToggleId" class="popover-toggle" data-popover-id="@popoverId">
                        <i class="fa fa-ellipsis-v"></i>
                    </span>

                    <!-- Popover Menu -->
                    <div id="@popoverId" class="popover-menu" style="display: none;">
                        <ul>
                            @if (ViewBag.RolesString != null && ViewBag.RolesString.ToString().Contains("Doctor"))
                            {
                                <li class="openModal" data-toggle="modal" data-target=".canvasModal"
                                    data-appointment-id="@appointment.id" data-patient-id="@appointment.patient_id">
                                    Set Appointment
                                </li>
                            }
                            <li>View Patient</li>
                            <li>Call Patient</li>
                            <li>Refer To</li>
                            <li>Upload Prescription</li>
                            <li>View Prescriptions</li>
                            @*<li class="openDoctorView">Option 3</li>*@
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    }

}
