@model IEnumerable<MVCFirebase.Models.Appointment>

@{
    ViewBag.Title = "Index";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.css" />
<script>
    jQuery(function ($) {
        $("#startdate").datetimepicker({
        }).attr('readonly', 'readonly');
    });
</script>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table" border="0">
    <tr>

        @using (Html.BeginForm("Index", "Appointment", FormMethod.Post))
        {
            <td width="30%">
                <input class="form-control" name="startdate" type="text" id="startdate" value="@ViewBag.Message">
            </td>
            <td align="left">
                <input class="form-control" type="submit" value="Apply" style="width:100px" />
            </td>
        }
        <td>
            <p>
                @Html.ActionLink("Create New Patient", "Create", "Patient")
            </p>
        </td>
    </tr>
</table>
<table class="table">
    <tr>
        <th>

            @Html.DisplayNameFor(model => model.token)

        </th>
        <th>

            @Html.DisplayNameFor(model => model.patient_name)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.clinic_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.raisedDate)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.days)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fee)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.token)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.patient_name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.clinic_name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.raisedDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.status)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.days)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.fee)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("ViewPresc", "Index", "Image", new { @item.id, @item.patient }, new { @item.id, @item.patient }) |
        @Html.ActionLink("Fee", "Fee", new { @item.id, @item.patient, @item.fee }, new { @item.id, @item.patient, @item.fee })
    </td>
</tr>
    }

</table>


